/* 
 * [rehype-prism-plus - unified](https://unifiedjs.com/explore/package/rehype-prism-plus/)
 */
.codeBox {
  margin-top: 3rem;
  position: relative;
  background: #ffffff;
}

pre[class*="language-"] {
  padding: 1rem;
  overflow-x: scroll;
  background-color: #1c2632;
}

pre[class*="language-"]::-webkit-scrollbar {
  height: 0.5em;
}

pre[class*="language-"]::-webkit-scrollbar-track {
  -webkit-box-shadow: #1c2632;
  box-shadow: #1c2632;
  border-radius: 10px;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: #3a3a3ac2 ;
  outline: 0px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.code-title {
  color: #ffffff;
  position: absolute;
  top:-1.4rem;
  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 6px 6px 0 0;
  font-variant: small-caps;
  background: rgb(59, 130, 246);
  padding: 0 1rem;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: inherit;
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(206, 225, 255, 0.5);
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246);
}

.line-number:before {
  padding-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
}
