/* 
 * [rehype-prism-plus - unified](https://unifiedjs.com/explore/package/rehype-prism-plus/)
 */
.codeBox {
  position: relative;
  background: #4d4d4d;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  font-size: .85rem;
}

.codeBox pre {
  margin: 0px !important;
}

pre[class*="language-"] {
  padding: 1rem;
  overflow-x: scroll;
  background-color: #1c2632;
}

pre[class*="language-"]::-webkit-scrollbar {
  height: 0.5em;
}

pre[class*="language-"]::-webkit-scrollbar-track {
  -webkit-box-shadow: #95a7bc;
  box-shadow: #1c2632;
  border-radius: 10px;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: #3a3a3ac2;
  outline: 0px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.code-title {
  height:1.4rem;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: -1.4rem;
  right: 0.2rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-variant: small-caps;
  padding: 0 0.5rem;
  background: rgb(59, 130, 246);
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: #011627;
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246);
}

.line-number:before {
  padding-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
}
